<!-- <div class='hamburger-menu {% if include.nopadding%}nopadding{% endif %}' onclick='navbarShow()'>
    <div class='line top'></div>
    <div class='line mid'></div>
    <div class='line bottom'></div>
  </div> -->
  <!-- TODO make it responsive -->
<div class='other-links {% if include.nopadding%}nopadding{% endif %}'>
  <a class='link {% if include.active == "home" %}active{% endif %}' href='/'>Home</a>
  <a class='link {% if include.active == "list" %}active{% endif %}' href='/list'>List</a>
  <a class='link {% if include.active == "submit" %}active{% endif %}' href='/submit'>Submit</a>
  <a class='link {% if include.active == "about" %}active{% endif %}' href='/about'>About</a>
</div>
