---
layout: compress
---
<!DOCTYPE html>
	<html>
		<head>
			<meta name="description" content="DACA expiration timers, countdown for how many days, hours, minutes, and seconds each DACA recipients have">
			<meta name="keywords" content="DACA, Important, Sensitive">
			<meta name="theme-color" content="#05fbff">
			<meta property="og:title" content="A Dream-Deferred">
			<!-- <meta property="og:image" content="link_to_image"> -->
			<meta property="og:description" content="DACA expiration timers, countdown for how many days, hours, minutes, and seconds each DACA recipients have">
			{% include resources.html %}
			<title>{{ page.title }}</title>
		</head>
		<body>
			<div class='background'>
			  <div class='image {%if page.permalink != '/' %}blur{% endif %}'></div>
			  <div class='dark-layer'></div>
			</div>
			{{ content }}
		</body>
	</html>
